.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    position: absolute;
    width: 35rem;
    height: auto;
    object-fit: cover;
    object-position: center;

    will-change: opacity, transform;

    @media (max-width: 1500px) {
      width: 26rem;
    }

    @media (max-width: 1020px) {
      width: 15rem;
    }

    @media (max-width: 768px) {
      width: 10rem;
    }

    @media (max-width: 530px) {
      width: 7rem;
    }
  }

  .leaf-blue-1 {
    z-index: 1;
    right: 22%;
    top: 33%;
    opacity: 0;
    transform: rotate(0);
    transform-origin: left;

    animation-name: fadeLeafRight;
    animation-duration: 1.75s;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @media (max-width: 1500px) {
      right: 23%;
      top: 35%;
    }

    @media (max-width: 1020px) {
      right: 28%;
      top: 38%;
    }

    @media (max-width: 768px) {
      top: 38%;
    }
  }

  .leaf-blue-2 {
    z-index: 1;
    right: 53%;
    top: 49%;
    opacity: 0;
    transform: rotate(0);
    transform-origin: right;

    animation-name: fadeLeafLeft;
    animation-duration: 1.75s;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @media (max-width: 1500px) {
      right: 48%;
      top: 50%;
    }

    @media (max-width: 1020px) {
      right: 50%;
      top: 50%;
    }

    @media (max-width: 768px) {
      top: 50%;
      right: 55%;
    }

    @media (max-width: 530px) {
      top: 55%;
      right: 50%;
    }

    @media (max-width: 530px) {
      top: 50%;
    }
  }

  .leaf-green {
    z-index: 2;
    top: 55%;
    right: 21%;
    opacity: 0;
    transform: rotate(0);

    transform-origin: left;

    animation-name: fadeLeafRight;
    animation-duration: 1.75s;
    animation-delay: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @media (max-width: 1500px) {
      top: 50%;
      right: 25%;
    }

    @media (max-width: 1020px) {
      right: 30%;
      top: 55%;
    }

    @media (max-width: 768px) {
      right: 25%;
      top: 55%;
    }

    @media (max-width: 530px) {
      top: 50%;
    }
  }

  .suitcase {
    z-index: 3;
    width: 45rem;
    right: 33%;
    top: 32%;
    transform: translateY(20rem) scale(0);

    will-change: transform;
    animation-name: fadeSuitcase;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    animation-fill-mode: forwards;

    @media (max-width: 1500px) {
      width: 35rem;
      top: 32%;
    }

    @media (max-width: 1020px) {
      width: 23rem;
      right: 35%;
    }

    @media (max-width: 768px) {
      width: 15rem;
      top: 35%;
    }

    @media (max-width: 530px) {
      width: 10rem;
      top: 40%;
    }
  }

  .flamingo {
    z-index: 4;
    top: 46%;
    right: 43%;
    opacity: 0;
    transform: translateY(10rem) rotate(-5deg);

    animation-name: fadeFlamingo, animateFlamingo;
    animation-duration: 0.9s, 2s;
    animation-delay: 0s, 0.9s;
    animation-timing-function: cubic-bezier(0.12, 0.98, 0.84, 1.25), linear;
    animation-fill-mode: both, none;
    animation-iteration-count: 1, infinite;

    @media (max-width: 1500px) {
      top: 45%;
      right: 40%;
    }

    @media (max-width: 1020px) {
      right: 43%;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  padding: 4px;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

.canvas {
  position: absolute;
}
